body {
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

/* CARD CONTAINER */
.card {
  width: 350px;
  border: 4px solid black;
  padding: 10px;
  margin: 30px auto;
  background: #ff9999;
  color: white;

  border-radius: 15px;      /* Rounded edges */
  position: relative;      
}

/* TOP BAR */
.top-bar {
  position: relative;      
  border-bottom: 2px solid black;
  padding: 5px;
  height: 40px;
}

.basic {
  font-size: 12px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.hp {
  position: absolute;
  right: 10px;
  top: 5px;
  font-weight: bold;
}

/* IMAGE SECTION */
.image-section {
    width: 100%;
    margin-top: 10px;
}

.pokemon-img {
  width: 100%;
  height: auto;
  display: block;
}

.image-placeholder {
  height: 180px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
}

.image-caption {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

/* ATTACK SECTION */
.attack-section {
  margin-top: 10px;
  border-top: 2px solid black;
  padding-top: 10px;
  position: relative;
}

.attack-row {
  position: relative;
  height: 30px;
}

.energy-icons {
  position: absolute;
  left: 0;
}

.attack-name {
  text-align: center;
  font-weight: bold;
}

.damage {
  position: absolute;
  right: 0;
}

.attack-description {
  font-size: 14px;
  margin-top: 10px;
}

/* STATS ROW */
.stats-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 2px solid black;
  padding-top: 8px;
  font-size: 12px;
}

/* FOOTER */
.footer {
  margin-top: 10px;
  font-size: 10px;
  border-top: 2px solid black;
  padding-top: 5px;
}

/* ICON SIZING */
.energy-icon {
  height: 16px;
  vertical-align: middle;
  margin-left: 4px;
}

.type-icon {
  height: 18px;
  vertical-align: middle;
}
